<div class="title-container">
  <h1>Edit exhibition</h1>
</div>
  <%= render 'exhib_form' %>

  <%= form_tag exhibition_path(@exhibition), method: "delete" do %>
    <%= submit_tag "Delete exhibition" %>
  <% end %>
